@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #0f87e6;
  --white: #ffffff;
  --grey: #80807a;
  --black: #000000;
  --black-light: #252526;
  --black-lighter: #2e2e2e;
  --border-radius: 5px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* CSSTransition classNames logic */

.snackbar-enter,
.snackbar-exit-active {
  opacity: 0;
}

.snackbar-enter-active {
  opacity: 1;
}

.snackbar-enter-bottom-center,
.snackbar-exit-active-bottom-center {
  transform: translateY(16px);
}

.snackbar-enter-active-bottom-center {
  transform: translateY(0px);
}

/* Fade up */
.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}
.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}
/* Fade down */
.fadedown-enter {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}
.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}
/* Fade */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  opacity: 1 !important;
  position: relative;
  z-index: 101;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--black-light);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--primary-blue);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* GLITCH */

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(118px, 9999px, 148px, 0);
  }
  4.166666666666666% {
    clip: rect(58px, 9999px, 45px, 0);
  }
  8.333333333333332% {
    clip: rect(22px, 9999px, 2px, 0);
  }
  12.5% {
    clip: rect(38px, 9999px, 22px, 0);
  }
  16.666666666666664% {
    clip: rect(147px, 9999px, 44px, 0);
  }
  20.833333333333336% {
    clip: rect(82px, 9999px, 143px, 0);
  }
  25% {
    clip: rect(48px, 9999px, 21px, 0);
  }
  29.166666666666668% {
    clip: rect(91px, 9999px, 117px, 0);
  }
  33.33333333333333% {
    clip: rect(36px, 9999px, 18px, 0);
  }
  37.5% {
    clip: rect(135px, 9999px, 30px, 0);
  }
  41.66666666666667% {
    clip: rect(31px, 9999px, 137px, 0);
  }
  45.83333333333333% {
    clip: rect(149px, 9999px, 131px, 0);
  }
  50% {
    clip: rect(28px, 9999px, 140px, 0);
  }
  54.166666666666664% {
    clip: rect(22px, 9999px, 143px, 0);
  }
  58.333333333333336% {
    clip: rect(82px, 9999px, 85px, 0);
  }
  62.5% {
    clip: rect(76px, 9999px, 131px, 0);
  }
  66.66666666666666% {
    clip: rect(54px, 9999px, 32px, 0);
  }
  70.83333333333334% {
    clip: rect(27px, 9999px, 104px, 0);
  }
  75% {
    clip: rect(47px, 9999px, 91px, 0);
  }
  79.16666666666666% {
    clip: rect(61px, 9999px, 134px, 0);
  }
  83.33333333333334% {
    clip: rect(6px, 9999px, 15px, 0);
  }
  87.5% {
    clip: rect(91px, 9999px, 91px, 0);
  }
  91.66666666666666% {
    clip: rect(78px, 9999px, 63px, 0);
  }
  95.83333333333334% {
    clip: rect(113px, 9999px, 33px, 0);
  }
  100% {
    clip: rect(118px, 9999px, 119px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(118px, 9999px, 148px, 0);
  }
  4.166666666666666% {
    clip: rect(58px, 9999px, 45px, 0);
  }
  8.333333333333332% {
    clip: rect(22px, 9999px, 2px, 0);
  }
  12.5% {
    clip: rect(38px, 9999px, 22px, 0);
  }
  16.666666666666664% {
    clip: rect(147px, 9999px, 44px, 0);
  }
  20.833333333333336% {
    clip: rect(82px, 9999px, 143px, 0);
  }
  25% {
    clip: rect(48px, 9999px, 21px, 0);
  }
  29.166666666666668% {
    clip: rect(91px, 9999px, 117px, 0);
  }
  33.33333333333333% {
    clip: rect(36px, 9999px, 18px, 0);
  }
  37.5% {
    clip: rect(135px, 9999px, 30px, 0);
  }
  41.66666666666667% {
    clip: rect(31px, 9999px, 137px, 0);
  }
  45.83333333333333% {
    clip: rect(149px, 9999px, 131px, 0);
  }
  50% {
    clip: rect(28px, 9999px, 140px, 0);
  }
  54.166666666666664% {
    clip: rect(22px, 9999px, 143px, 0);
  }
  58.333333333333336% {
    clip: rect(82px, 9999px, 85px, 0);
  }
  62.5% {
    clip: rect(76px, 9999px, 131px, 0);
  }
  66.66666666666666% {
    clip: rect(54px, 9999px, 32px, 0);
  }
  70.83333333333334% {
    clip: rect(27px, 9999px, 104px, 0);
  }
  75% {
    clip: rect(47px, 9999px, 91px, 0);
  }
  79.16666666666666% {
    clip: rect(61px, 9999px, 134px, 0);
  }
  83.33333333333334% {
    clip: rect(6px, 9999px, 15px, 0);
  }
  87.5% {
    clip: rect(91px, 9999px, 91px, 0);
  }
  91.66666666666666% {
    clip: rect(78px, 9999px, 63px, 0);
  }
  95.83333333333334% {
    clip: rect(113px, 9999px, 33px, 0);
  }
  100% {
    clip: rect(118px, 9999px, 119px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(10px, 9999px, 31px, 0);
  }
  10% {
    clip: rect(126px, 9999px, 57px, 0);
  }
  13.333333333333334% {
    clip: rect(60px, 9999px, 16px, 0);
  }
  16.666666666666664% {
    clip: rect(98px, 9999px, 101px, 0);
  }
  20% {
    clip: rect(87px, 9999px, 111px, 0);
  }
  23.333333333333332% {
    clip: rect(22px, 9999px, 16px, 0);
  }
  26.666666666666668% {
    clip: rect(21px, 9999px, 6px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 150px, 0);
  }
  33.33333333333333% {
    clip: rect(83px, 9999px, 141px, 0);
  }
  36.666666666666664% {
    clip: rect(104px, 9999px, 34px, 0);
  }
  40% {
    clip: rect(33px, 9999px, 108px, 0);
  }
  43.333333333333336% {
    clip: rect(83px, 9999px, 84px, 0);
  }
  46.666666666666664% {
    clip: rect(10px, 9999px, 59px, 0);
  }
  50% {
    clip: rect(141px, 9999px, 68px, 0);
  }
  53.333333333333336% {
    clip: rect(58px, 9999px, 125px, 0);
  }
  56.666666666666664% {
    clip: rect(65px, 9999px, 110px, 0);
  }
  60% {
    clip: rect(14px, 9999px, 109px, 0);
  }
  63.33333333333333% {
    clip: rect(64px, 9999px, 114px, 0);
  }
  66.66666666666666% {
    clip: rect(76px, 9999px, 81px, 0);
  }
  70% {
    clip: rect(102px, 9999px, 132px, 0);
  }
  73.33333333333333% {
    clip: rect(6px, 9999px, 146px, 0);
  }
  76.66666666666667% {
    clip: rect(136px, 9999px, 100px, 0);
  }
  80% {
    clip: rect(120px, 9999px, 49px, 0);
  }
  83.33333333333334% {
    clip: rect(130px, 9999px, 136px, 0);
  }
  86.66666666666667% {
    clip: rect(42px, 9999px, 2px, 0);
  }
  90% {
    clip: rect(80px, 9999px, 109px, 0);
  }
  93.33333333333333% {
    clip: rect(52px, 9999px, 76px, 0);
  }
  96.66666666666667% {
    clip: rect(14px, 9999px, 137px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 39px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(10px, 9999px, 31px, 0);
  }
  10% {
    clip: rect(126px, 9999px, 57px, 0);
  }
  13.333333333333334% {
    clip: rect(60px, 9999px, 16px, 0);
  }
  16.666666666666664% {
    clip: rect(98px, 9999px, 101px, 0);
  }
  20% {
    clip: rect(87px, 9999px, 111px, 0);
  }
  23.333333333333332% {
    clip: rect(22px, 9999px, 16px, 0);
  }
  26.666666666666668% {
    clip: rect(21px, 9999px, 6px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 150px, 0);
  }
  33.33333333333333% {
    clip: rect(83px, 9999px, 141px, 0);
  }
  36.666666666666664% {
    clip: rect(104px, 9999px, 34px, 0);
  }
  40% {
    clip: rect(33px, 9999px, 108px, 0);
  }
  43.333333333333336% {
    clip: rect(83px, 9999px, 84px, 0);
  }
  46.666666666666664% {
    clip: rect(10px, 9999px, 59px, 0);
  }
  50% {
    clip: rect(141px, 9999px, 68px, 0);
  }
  53.333333333333336% {
    clip: rect(58px, 9999px, 125px, 0);
  }
  56.666666666666664% {
    clip: rect(65px, 9999px, 110px, 0);
  }
  60% {
    clip: rect(14px, 9999px, 109px, 0);
  }
  63.33333333333333% {
    clip: rect(64px, 9999px, 114px, 0);
  }
  66.66666666666666% {
    clip: rect(76px, 9999px, 81px, 0);
  }
  70% {
    clip: rect(102px, 9999px, 132px, 0);
  }
  73.33333333333333% {
    clip: rect(6px, 9999px, 146px, 0);
  }
  76.66666666666667% {
    clip: rect(136px, 9999px, 100px, 0);
  }
  80% {
    clip: rect(120px, 9999px, 49px, 0);
  }
  83.33333333333334% {
    clip: rect(130px, 9999px, 136px, 0);
  }
  86.66666666666667% {
    clip: rect(42px, 9999px, 2px, 0);
  }
  90% {
    clip: rect(80px, 9999px, 109px, 0);
  }
  93.33333333333333% {
    clip: rect(52px, 9999px, 76px, 0);
  }
  96.66666666666667% {
    clip: rect(14px, 9999px, 137px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 39px, 0);
  }
}
